In [1]:
from prophet import Prophet
import pandas as pd
import pandas_ta as ta

In [2]:
data = pd.read_csv(
    "data/EURUSD_Candlestick_1_Hour_BID_04.05.2003-15.04.2023.csv", 
    parse_dates=["Gmt time"]
)
data.rename(columns={"Gmt time":"time"}, inplace=True)
data.set_index("time")
data.head()

                 time     open     high      low    close  volume
0 2003-04-05 00:00:00  1.12284  1.12284  1.12284  1.12284     0.0
1 2003-04-05 01:00:00  1.12284  1.12284  1.12284  1.12284     0.0
2 2003-04-05 02:00:00  1.12284  1.12284  1.12284  1.12284     0.0
3 2003-04-05 03:00:00  1.12284  1.12284  1.12284  1.12284     0.0
4 2003-04-05 04:00:00  1.12284  1.12284  1.12284  1.12284     0.0

In [3]:
data.isnull().sum()

time      0
open      0
high      0
low       0
close     0
volume    0
dtype: int64

In [4]:
data = data.query("volume != 0")

In [5]:
ta.rsi(data.close, length=12)

ImportError: dlopen(/Users/arturopolancolozano/opt/anaconda3/lib/python3.9/site-packages/talib/_ta_lib.cpython-39-darwin.so, 0x0002): symbol not found in flat namespace '_TA_ACOS'

In [ ]:
data["rsi"]